.App {
  
}

.doc-container {
  padding: 16px 64px;
  max-width: 640px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fake-input-container {
  position: relative;
}

.fake-input, .fake-input:focus {
  background-color: white;
  border: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 200px;
  outline: none;
  padding: .5em 0 .5em 0;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  margin: 0;
  padding: .5em 0 .5em 0;
}

button {
  background-color: #fff;
  outline: none;
  border: none;
}

.doc-block {
  outline: none;
  border: none;
}

.clock-container {
  padding: 4px;
}

.clock-digit {
  display: inline-block;
  padding: 8px;
  background-color: white;
  border: 1px solid #282c34;
}

.input-dropdown {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  top: 20px;
  position: absolute;

}

.dropdown-item {
  padding: 4px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #faf2a6;
}

.login-footer {
  background-color: white;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
  border-radius: 8px;
  bottom: 50%;
  display: flex;
  height: 36px;
  position: fixed;
  text-align: center;
  width: 400px;
  height: 400px;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 50%);
  flex-direction: column;
  padding: 32px;
  background-size: cover;
}

.modal-title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30%;
}

.modal-description {

}

.login-footer > button {
  background-size: cover;
  border: 0;
  border-radius: 4px;
  height: 46px;
  margin: auto;
  width: 191px;
}
