.checkbox {
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.checkbox-on {
  background-size: cover;
  border-color: #000;
}

.checkbox-text {
  margin-left: 4px;
  min-width: 4px;
  display: inline-block;
}

.asana-helper {
  display: block;
}

.checkbox-text.empty:after {
  content: "Try typing a task!";
  color: #cecece;
}
