.discussion {

}

.reply {
  margin: 16px;
  margin-left: 32px;
  padding-left: 8px;
}

.reply-flex {
  display: flex;
  align-items: center;
}

.reply-box-div {
  margin-left: 32px;
}

.reply-box {
  border-radius: 8px;
  display: block;
  width: 100%;
}

.submit-button {
  background-color: darkblue;
  border-radius: 4px;
  color: white;
  display: block;
  outline: none;
  border: none;
  padding: 4px 8px;
  float: right;
  margin-top: 4px;
}

.reply-button {
  cursor: pointer;
  font-size: 12px;
  color: darkblue;
}

.reply img {
  height: 16px;
  border-radius: 16px;
}

.author-header {
  display: flex;
  padding: 0px 4px;
  border-right: 1px solid #e6e6e6;
  margin-right: 8px;
  align-items: center;
}

.author-name {
  font-weight: 700;
  margin-left: 4px;
}

.reply-input {
  flex: 1 0 100%;
}