.Emoji {
  align-items: flex-end;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  display: flex;
  padding: 0px 4px;
}

.Emoji img {
  height: 16px;
}

.emoji-count {
  margin-left: 4px;
}

.checkbox {
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 4px;
  height: 16px;
  width: 16px;
}

.checkbox-on {
  background-size: cover;
  border-color: #000;
}

.checkbox-text {
  margin-left: 4px;
}